@use '../../../assets/styles/base';
@import '../../../assets/styles/vars.scss';

.sources__carousel {
  background: $secondary-color;
  padding: 0 50px;
  position: relative;
  overflow-x: hidden;

  .sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;

    .source__item {
      background: none;
      border: none;
      margin: 0.5em;
      padding: 0.7em 1.8em;
      transition: 0.25s;
      cursor: pointer;
      color: $primary-color;
      font-size: 16px;
      font-family: $h-fonts;
      font-weight: 700;
      line-height: 24px;
      background: $yellow-color;
    }
  }

  .scroll-button {
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    background-color: #F4F0F8;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    div {
      width: 3px;
      height: 40px;
      background-color: $primary-color;
    }

    &:hover {
      background-color: $yellow-color;
      border: 1px solid $grey-color;
    }
  }

  .prev-button {
    left: 0;

    div {

      &:first-child {
        transform: rotate(25deg) translateY(-5px) translateX(15px);
      }

      &:last-child {
        transform: rotate(-25deg) translateY(5px) translateX(15px);
      }
    }
  }

  .next-button {
    right: 0;

    div {

      &:first-child {
        margin-right: 5px;
        transform: rotate(-25deg) translateY(9px) translateX(15px);
      }

      &:last-child {
        margin-left: 5px;
        transform: rotate(25deg) translateY(-9px) translateX(10px);
      }
    }
  }
}

.source__item:hover,
.source__item:focus {
  box-shadow: 0 0.5em 0.5em -0.4em $yellow-color;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

@media screen and (max-width: 1100px) {

  .sources__carousel {
    padding: 0 50px;

    .sources {
      height: 80px;
    }

    .scroll-button {

      div {
        height: 35px;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  .sources__carousel {

    .sources {

      .source__item {
        padding: 0.7em 1.6em;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .sources__carousel {
    padding: 0 40px;

    .sources {
      height: 70px;

      .source__item {
        padding: 0.5em 1em;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .scroll-button {
      width: 40px;

      div {
        height: 30px;
      }
    }

    .prev-button {
  
      div {
  
        &:first-child {
          transform: rotate(25deg) translateY(-3px) translateX(10px);
        }
  
        &:last-child {
          transform: rotate(-25deg) translateY(3px) translateX(10px);
        }
      }
    }
  
    .next-button {
      right: 0;
  
      div {
  
        &:first-child {
          margin-right: 5px;
          transform: rotate(-25deg) translateY(7px) translateX(10px);
        }
  
        &:last-child {
          margin-left: 5px;
          transform: rotate(25deg) translateY(-6px) translateX(5px);
        }
      }
    }
  }
}