@use './assets/styles/base';
@import './assets/styles/vars.scss';

header {
  padding: 10px 10px;
  height: 80px;
  background-color: $primary-color;
  color: #FFF;
}

.header__container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-auto-columns: min-content;
  padding: 0 10px;

  .header__title-link {
    grid-column: auto;
    color: $primary-fonts-color;

    .header__title {
      font-size: 48px;
      font-family: $h-fonts;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
    }
  }

  .header__menu {
    display: flex;
    justify-content: space-around;
    padding-left: 0;

    .header__menu-item {
      display: inline-block;
      max-width: 120px;
      white-space: nowrap;
      margin: 0 5px;

      .header__menu-item-link {
        display: block;
        padding: 5px;
        font-size: 16px;
        font-family: $p-fonts;
        line-height: 28px;
        color: $primary-fonts-color;
        transition: all .1s;
        text-align: center;

        &:hover {
          font-size: 19px;
          color: $yellow-color;
        }
      }
    }
  }

  .header__burger-btn {
    display: none;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 10px 10px 0 0;

    .header__burger-btn-line {
      width: 80%;
      height: 3px;
      background-color: $secondary-color;
      transition: all .3s;
    }

    &:hover {

      .header__burger-btn-line {
        background-color: $yellow-color;
      }
    }
  }

  .header__burger-menu-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: all .3s;

    .header__burger-menu {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 320px;
      background-color: $secondary-color;
      transition: all .3s;
      transform: translateX(110%);

      .header__burger-menu-close-btn {
        position: absolute;
        top: 20px;
        left: -16%;
        width: 50px;
        height: 50px;
        background-color: $yellow-color;
        cursor: pointer;

        .close-line {
          position: absolute;
          width: 50%;
          height: 3px;
          background-color: $primary-color;
          top: 50%;
          left: 0;
          transform: translateX(50%) rotate(45deg);
        }

        .close-line:first-child {
          transform: translateX(50%) rotate(-45deg);
        }
      }

      .burger-search-form {
        margin: 25px 0 0 40px;

        .header__search-input {
          padding: 8px 20px;
          border-width: 1px 0 1px 1px;
          border-style: solid;
          border-color: $grey-color;
          border-radius: 4px 0 0 4px;
          outline: none;
        }

        .header__search-button {
          background-color: $primary-fonts-color;
          border-width: 1px 1px 1px 0;
          border-style: solid;
          border-color: $grey-color;
          border-radius: 0 4px 4px 0;

          svg {
            width: 20px;
            height: 20px;
            stroke: $primary-color;
            transition: stroke 0.3s ease;
          }

          &:hover {
            background-color: $secondary-color;

            svg {
              stroke: $secondary-fonts-color;
            }
          }
        }
      }

      .burger-menu-list {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;

        .header__menu-item {
          display: block;
          max-width: 120px;
          margin: 15px 10px;

          .header__menu-item-link {
            display: block;
            padding: 5px;
            font-size: 24px;
            font-family: $p-fonts;
            line-height: 28px;
            color: $primary-color;
            transition: all .1s;
            text-align: left;
            font-weight: 900;

            &:hover {
              font-size: 28px;
              color: $yellow-color;
            }
          }
        }
      }
    }
  }

  .header__burger-menu_active {
    opacity: 1;
    visibility: visible;

    .header__burger-menu {
      transform: translateX(0);
    }
  }
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;

  .search-input {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background-color: transparent;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

    svg {
      width: 20px;
      height: 20px;
      stroke: $primary-fonts-color;
      transition: stroke 0.3s ease;
    }

    &:hover {
      background-color: $secondary-color;

      svg {
        stroke: $secondary-fonts-color;
      }
    }
  }
}

.news {
  padding: 30px;
}

footer {
  height: 100px;
  padding-top: 25px;
  background-color: $primary-color;

  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .github-container {
      color: $secondary-color;
    }

    .rsschool-logo {
      height: 48px;
      width: 140px;
      background: url('./assets/icons/rss.svg') no-repeat center;
      background-size: contain;
    }
  }
}

footer .copyright {
  color: $secondary-color;
  font-size: 16px;
  font-family: $p-fonts;
  line-height: 28px;
  text-align: center;
}

footer .copyright a {
  color: $grey-color;
}

footer .copyright a:hover {
  color: $yellow-color;
}

footer .copyright:before {
  content: '©';
}

@media screen and (max-width: 1100px) {
  .header__container {

    .header__menu {

      .header__menu-item {
        max-width: 100px;

        .header__menu-item-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header__container {

    .header__title-link {

      .header__title {
        font-size: 44px;
      }
    }

    .header__search-form {

      .header__search-input {
        padding: 6px;
      }

      .header__search-button {
        padding: 7px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .header__nav {
      display: none;
    }

    .header__search-form {
      display: none;
    }

    .header__burger-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 660px) {

  .header__container {
    align-items: center;

    .header__search-form {

      .header__search-input {
        padding: 6px;
      }

      .header__search-button {
        padding: 7px;

        svg {
          width: 15px;
          height: 15px;
        }
      }
    }

    .header__burger-btn {
      margin: 5px 10px 0 0;
    }
  }

  footer {
    height: 80px;
    padding-top: 15px;
  
    .footer__container {
      padding: 0 10px;
  
      .github-container {
        color: $secondary-color;
      }
  
      .rsschool-logo {
        height: 40px;
        width: 130px;
        background: url('./assets/icons/rss.svg') no-repeat center;
        background-size: contain;
      }
    }
  }
  
  footer .copyright {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (width < 370px) {
  .header__container {
  
    .header__title-link {
  
      .header__title {
        font-size: 42px;
      }
    }
  
    .header__burger-menu-container {
  
      .header__burger-menu {

        .header__burger-menu-close-btn {
          position: absolute;
          top: 8px;
          left: 5px;
          width: 30px;
          height: 30px;
          background-color: transparent;
          cursor: pointer;
  
          .close-line {
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            top: 50%;
            left: -10px;
            cursor: pointer;
          }

          &:hover {
            .close-line {
              background: $yellow-color;
            }
          }
        }

        .burger-search-form {
          margin: 60px 0 0 40px;
        }

        .burger-menu-list {
          margin-top: 0;
        }
      }
    }
  }     
}