$primary-color: #232536;
$secondary-color: #F4F0F8;
$yellow-color: #FFD050;
$grey-color: #6D6E76;
$primary-fonts-color: #FFF;
$secondary-fonts-color: #232536;
$h-fonts: 'Sen', sans-serif;
$p-fonts: 'Inter', sans-serif;